<footer class="bg-gray-800 text-gray-300 py-8">
  <div class="container mx-auto grid grid-cols-1 sm:grid-cols-3 gap-8">
    <!-- Brand and Description -->
    <div>
      <a href="/" class="text-2xl font-semibold text-white">BlogSite</a>
      <p class="mt-4 text-gray-400">
        Your go-to platform for insightful blogs, covering a wide range of
        topics from tech to lifestyle.
      </p>
    </div>

    <!-- Navigation Links -->
    <div>
      <h3 class="text-lg font-semibold text-white mb-4">Quick Links</h3>
      <ul class="space-y-2">
        <li>
          <a href="/" class="hover:text-blue-400">Home</a>
        </li>
        <li>
          <a href="/about" class="hover:text-blue-400">About</a>
        </li>
        <li>
          <a href="/blogs" class="hover:text-blue-400">Blogs</a>
        </li>
        <li>
          <a href="/contact" class="hover:text-blue-400">Contact</a>
        </li>
      </ul>
    </div>

    <!-- Social Media Links -->
    <div>
      <h3 class="text-lg font-semibold text-white mb-4">Follow Us</h3>
      <ul class="flex space-x-4">
        <li>
          <a
            href="https://facebook.com"
            target="_blank"
            aria-label="Facebook"
            class="hover:text-blue-400"
          >
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22.675 0H1.325C.593 0 0 .594 0 1.326v21.348C0 23.406.593 24 1.325 24h11.495v-9.294H9.845v-3.62h2.975V8.413c0-2.947 1.8-4.553 4.429-4.553 1.26 0 2.342.092 2.656.134v3.08h-1.82c-1.427 0-1.7.68-1.7 1.674v2.194h3.403l-.443 3.62h-2.96V24h5.787C23.406 24 24 23.406 24 22.674V1.326C24 .594 23.407 0 22.675 0z"
              />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com"
            target="_blank"
            aria-label="Twitter"
            class="hover:text-blue-400"
          >
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.69 4.69 0 002.048-2.572 9.337 9.337 0 01-2.95 1.127 4.668 4.668 0 00-7.943 4.256A13.24 13.24 0 011.671 3.15a4.666 4.666 0 001.445 6.228 4.635 4.635 0 01-2.115-.584v.06a4.67 4.67 0 003.743 4.576 4.703 4.703 0 01-2.11.08 4.67 4.67 0 004.363 3.243A9.374 9.374 0 010 20.406a13.21 13.21 0 007.165 2.102c8.59 0 13.287-7.114 13.287-13.287 0-.203-.004-.407-.014-.61A9.503 9.503 0 0024 4.557a9.372 9.372 0 01-2.357.647z"
              />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://instagram.com"
            target="_blank"
            aria-label="Instagram"
            class="hover:text-blue-400"
          >
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 448 512"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9S160.5 370.9 224.1 370.9 339 319.6 339 255.9 287.7 141 224.1 141zm0 186.6c-39.6 0-71.8-32.1-71.8-71.8s32.1-71.8 71.8-71.8 71.8 32.1 71.8 71.8-32.1 71.8-71.8 71.8zm146.4-194.3c0 14.9-12 27-27 27-14.9 0-27-12-27-27s12-27 27-27 27 12 27 27zm76.1 27.2c-1.7-36.7-9.9-69.2-36.2-95.5-26.4-26.4-58.9-34.5-95.5-36.2C282.7 32 256.8 32 224 32s-58.7 0-90.9 2.2c-36.7 1.7-69.2 9.9-95.5 36.2-26.4 26.4-34.5 58.9-36.2 95.5C0 186.3 0 212.3 0 256s0 69.7 2.2 90.9c1.7 36.7 9.9 69.2 36.2 95.5 26.4 26.4 58.9 34.5 95.5 36.2C165.3 480 191.2 480 224 480s58.7 0 90.9-2.2c36.7-1.7 69.2-9.9 95.5-36.2 26.4-26.4 34.5-58.9 36.2-95.5 2.2-21.2 2.2-47.1 2.2-90.9s0-69.7-2.2-90.9zm-48.5 228c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.7 9-132.9 9s-103.4 2.6-132.9-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.7-9-132.9s-2.6-103.4 9-132.9c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.7-9 132.9-9s103.4-2.6 132.9 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.7 9 132.9s2.6 103.4-9 132.9z"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center text-gray-500 text-sm mt-8">
    © 2024 BlogSite. All rights reserved.
  </div>
</footer>
