<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title>Node.js Blog Project</title>
  </head>

  <body>
    <%- include('partials/navbar') %>
     <%- include('partials/home') %>
     <%- include("partials/script") %>
  </body>
</html>
